*,body{
    margin: 0;
    padding: 0;
    font-family: Cantarell, sans-serif;
}
.container{
    width: 900px;
    margin: auto;
    padding: 50px;
}
.menu-icon-box{
    display: inline-block;
    cursor: pointer;
    width: 50px;
    margin: 50px auto;
}
.bar1, .bar2, .bar3{
    width: 35px;
    height: 5px;
    background-color: #555555;
    margin: 6px 0;
    -webkit-transition: all 250ms ease-in-out;
    -moz-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    border-radius: 2px;
}

.change .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}
.change .bar2{
    opacity: 0;
}
.change .bar3{
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}